
# PythonAdd commentMore actions
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.db
.env
venv/

# Django
*.migrations/

# Node / Vue
frontend/node_modules/
frontend/dist/
frontend/.env

# VSCode
.vscode/

# OSAdd commentMore actions
.DS_Store
Thumbs.db
